{% extends 'header.html' %}
{% block body %}
<div class="container">
    <h1 class="pb-2 m-5 border-bottom border-top text-center" style="font-weight: 700;">ALL MATERIALS</h1>
    <div class="row justify-content-center g-4">
        <span class="badge text-bg-secondary Clickable col" data-type="All">All</span>
        <span class="badge text-bg-secondary Clickable col" data-type="Aluminum">Aluminum</span>
        <span class="badge text-bg-secondary Clickable col" data-type="Glass">Glass</span>
        <span class="badge text-bg-secondary Clickable col" data-type="Boards">Boards</span>
        <span class="badge text-bg-secondary Clickable col" data-type="Accessories">Accessories</span>
        <span class="badge text-bg-secondary Clickable col" data-type="Other">Other</span>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Feild</th>
            <th scope="col">High</th>
            <th scope="col">Mid</th>
            <th scope="col">Low</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for index, row in data %}
            <tr class="Row Item">
                <th scope="row">{{ index }}</th>
                {% for value in row %}
                    <td>{{ value[1] }}</td>
                {% endfor %}
                <td>
                    <a href="{{url_for('MaterialControling')}}">
                        <i class="fa-solid fa-pen" data-type={{index}}></i>
                    </a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
<script>
    AllBadges = Array.from(document.getElementsByClassName("badge"))
    AllBadges.forEach((e)=>{
        e.onclick = () =>{
            Field = e.getAttribute("data-type")
            if (Field === "All"){
                AllRows = Array.from(document.getElementsByClassName("Row"))
                AllRows.forEach((e) => {
                    e.classList.remove("Hidden")
                })
                AllBadges.forEach(e => {
                    e.classList.remove("text-bg-primary")
                    e.classList.add("text-bg-secondary")
                })
                e.classList.remove("text-bg-secondary")
                e.classList.add("text-bg-primary")
            }
            else{
                AllBadges.forEach(e => {
                    e.classList.remove("text-bg-primary")
                    e.classList.add("text-bg-secondary")
                })
                e.classList.remove("text-bg-secondary")
                e.classList.add("text-bg-primary")
                AllRows = Array.from(document.getElementsByClassName("Row"))
                AllRows.forEach((e) => {
                    e.classList.add("Hidden")
                    if (e.children[2].innerHTML === Field){
                        e.classList.remove("Hidden")
                    }
                })
            }
        }
    })
    AllPens = Array.from(document.getElementsByClassName("fa-pen"))
    AllItems = Array.from(document.getElementsByClassName("Item"))
    AllPens.forEach((e) => {
        e.parentElement.onclick = () => {
            Position = e.getAttribute("data-type")
            localStorage.setItem("Title",  AllItems[Position].children[1].innerHTML)
            localStorage.setItem("Field",  AllItems[Position].children[2].innerHTML)
            localStorage.setItem("High",  AllItems[Position].children[3].innerHTML)
            localStorage.setItem("Mid",  AllItems[Position].children[4].innerHTML)
            localStorage.setItem("Low",  AllItems[Position].children[5].innerHTML)
            
        }
    })
</script>
{% endblock %}