{% extends 'header.html' %}
{% block body %}
<div class="container">
    <h1 class="pb-2 m-5 border-bottom border-top text-center" style="font-weight: 700;">MATERIALS CONTROLING</h1>
    {% if Status %}
        {% if TheMessage %}
            <div class="alert alert-success" role="alert">
                {{TheMessage}}
            </div>
        {% endif %}
    {% else %}
    <div class="alert alert-danger" role="alert">
        {{TheMessage}}
    </div>
    {% endif %}
    <form action="{{ url_for('MaterialControling') }}" method="post" class="MyForm" style="padding: 20px;">
        <div class="mb-3">
          <label for="exampleInputTitle" class="form-label">Title</label>
          <input type="text" class="form-control" name="Title" id="exampleInputTitle" aria-describedby="TitleHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputField" class="form-label">Title</label>
            <select name="Field" class="form-select" id="exampleInputField" aria-label="Default select example">
                <option value="none">Open this select menu</option>
                <option value="Aluminum">Aluminum</option>
                <option value="Glass">Glass</option>
                <option value="Accessories">Accessories</option>
                <option value="Boards">Boards</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputHigh" class="form-label">High</label>
            <input type="text" class="form-control" name="High" id="exampleInputHigh" aria-describedby="HighHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputMid" class="form-label">Mid</label>
            <input type="text" class="form-control" name="Mid" id="exampleInputMid" aria-describedby="MidHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputLow" class="form-label">Low</label>
            <input type="text" class="form-control" name="Low" id="exampleInputLow" aria-describedby="LowHelp">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="Duplicate" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    if (localStorage.getItem("Title")){
        MyForm = document.getElementsByClassName("MyForm")[0]
        Divs = MyForm.children
        Divs[0].children[1].value = localStorage.getItem("Title")
        Divs[1].children[1].value = localStorage.getItem("Field")
        Divs[2].children[1].value = localStorage.getItem("High")
        Divs[3].children[1].value = localStorage.getItem("Mid")
        Divs[4].children[1].value = localStorage.getItem("Low")
        Divs[5].children[0].checked = true
        localStorage.clear()
    }
</script>
{% endblock %}