{% extends 'header.html' %}
{% block body %}
<div class="container">
    <a href="{{url_for('MaterialControling')}}">
        <button type="button" class="btn btn-primary">Materials Controling</button>
    </a>
    <a href="{{url_for('MaterialsExplore')}}">
        <button type="button" class="btn btn-primary">Explore Materials</button>
    </a>
    <a href="{{url_for('WindowsDiscounts')}}">
        <button type="button" class="btn btn-primary">Windows Disounts</button>
    </a>
</div>
{% endblock %}